.playlist-component {
    background-color: #8989bb;
    background: linear-gradient(315deg, #8989bb 0%, #a5a4cb 74%);
    color: white;
    height: 100vh;
}

.playlist-title {
    text-align: center;
}

.playlist-picture {
    width: 25%;
    height: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.playlist-tracks {
    overflow: auto;
    height: 300px;
    width: 100%;
}

.controls-component {
    margin-top: 20px;
	padding: 20px;
    color: white;
    border: 1px solid wheat;
};